


      <div class="index_presentation">
        <p class="index_presentation_text1" align="center">
          <b class="coloredP">League of Coders</b> is an internal training session for the upcoming programming competitions.
        </p>
        <p class="index_presentation_text2" align="center">
          Teams will be challenged in:
        </p>
        <div class="index_presentation_categories row">
          <div class="index_presentation_categories_item l4 m6 s12">
            <div class="index_presentation_categories_item_icon">
              <i class="fa fa-sort-numeric-asc index_presentation_categories_item_iconi"></i>
            </div>
            <div class="index_presentation_categories_item_text">
              Mathematics
            </div>
          </div>
          <div class="index_presentation_categories_item l4 m6 s12">
            <div class="index_presentation_categories_item_icon">
              <i class="fa fa-keyboard-o index_presentation_categories_item_iconi"></i>
            </div>
            <div class="index_presentation_categories_item_text">
              String problems
            </div>
          </div>
          <div class="index_presentation_categories_item l4 m6 s12">
            <div class="index_presentation_categories_item_icon">
              <i class="fa fa-area-chart index_presentation_categories_item_iconi"></i>
            </div>
            <div class="index_presentation_categories_item_text">
              Graph theory
            </div>
          </div>
          <div class="index_presentation_categories_item l4 m6 s12">
            <div class="index_presentation_categories_item_icon">
              <i class="fa fa-user-secret index_presentation_categories_item_iconi"></i>
            </div>
            <div class="index_presentation_categories_item_text">
              Cryptography
            </div>
          </div>
          <div class="index_presentation_categories_item l4 m6 s12">
            <div class="index_presentation_categories_item_icon">
              <i class="fa fa-ellipsis-h index_presentation_categories_item_iconi"></i>
            </div>
            <div class="index_presentation_categories_item_text">
              Other
            </div>
          </div>

        </div>
        <div class="index_presentation_footer_text">
          What are you waiting for? Take your chance!
        </div>
        <a href="/tasks" class="index_presentation_footer_action button">Start now</a>
      </div>
