


<nav class="navigation">
  <a href="/" class="navigation_item">League of Coders</a>
  <a href="/tasks" class="navigation_item">Tasks</a>
</nav>
<h1 class="page_title">
  League of Coders
</h1>

<div class="sign_in_container challenge_panel">
  <nav class="challenge_panel_navigation row">
    <a href="tasks.html" class="sign_in_menu_item challenge_panel_navigation_item sign_in_menu_item_selected l4 m6 s12">
      Tasks
    </a>
    <a href="/scoreboard" class="sign_in_menu_item challenge_panel_navigation_item l4 m6 s12">
      Ranking
    </a>
    <a href="/submissions" class="sign_in_menu_item challenge_panel_navigation_item l4 m6 s12">
      Submissions
    </a>
  </nav>

  <tasks-list></tasks-list>

</div>