
  <div class="sign_in_container">
    <div class="about_header_container" align="center">
      <div class="about_header">
        <img src="/images/favicon.png" alt="" class="header_title_img">
        <h5 class="header_title_text">League of <span class="coloredP">Coders</span></h5>
      </div>
    </div>
    <div class="sign_in_header">
      <h1>Rules</h1>
    </div>
    <dl class="dl faq">
      <dt>Rule 1</dt>
      <dd>Every team should be composed of 3 G2FOSSERS at most.</dd>
      <dt>Rule 2</dt>
      <dd>The challenge lasts 3 Hours.</dd>
      <dt>Rule 3</dt>
      <dd>Every team that solves a task first receives a bonus.</dd>
      <dt>Rule 4</dt>
      <dd>A python documentation will be provided. Internet usage is permitted if needed.</dd>
      <dt>Rule 5</dt>
      <dd>The classification is based on the total of points. Two teams with the same score have the same ranking.</dd>
      <dt>Rule 6</dt>
      <dd>The tasks are classified by category with different levels of difficulty.</dd>
    </dl>
  </div>
